---
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';
import { Icon } from 'astro-icon';
import { menuLinks } from '../data/local.data';
---

<header class="flex justify-between mt-10">
    <Astronav>
        <div>
            <h2>Logo</h2>
        </div>
        <MenuItems>
            <ul class="flex gap-12">
                {menuLinks.map((link) => (
                    <li>
                        <a 
                            href={link.path} 
                            aria-label="navigation link"
                            >
                            {link.name}
                            </a>
                    </li>
                ))}
            </ul>
        </MenuItems>
    </Astronav>
</header>