---
import { DashboardTest } from "../components/react/dashboard/dashboard";
import DashboardLayout from "../layout/dashboardLayout.astro";
---
<DashboardLayout>
    <main>
        <DashboardTest client:only/>
    </main>
</DashboardLayout>