---
import { DashboardTest } from "../components/react/dashboard";
import DashboardLayout from "../layout/dashboardLayout.astro";
---
<DashboardLayout title="Dashboard - Accés administrateur">
    <main>
        <DashboardTest client:only/>
    </main>
</DashboardLayout>