---
import Layouts from "../layouts/Layouts.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layouts>
	<main>
		<Hero />
		<About />
		<Projects />
		<Contact />
	</main>
</Layouts>

