---
import Layout from "../layout/layout.astro";
import Header from "../components/astro/header.astro";
import About from "../components/astro/about.astro";
import Projects from "../components/astro/projects.astro";
---

<Layout>
	<main>
		<Header />
		<About />
		<Projects />
	</main>
</Layout>