---
import Layout from "../layout/layout.astro";
import Header from "../astroComponents/header.astro";
import About from "../astroComponents/about";
import Projects from "../astroComponents/projects"
---

<Layout>
	<main>
		<Header />
		<About />
		<Projects />
	</main>
</Layout>