---
import Layout from "../layout/layout.astro";
import AdminForm from "../components/react/admin/presentation/AdminForm";
---

<Layout>
    <main>
        <AdminForm client:only/>
    </main>
</Layout>

