---
import AboutCards from "../react/displayAndCrudAboutAndProjects/presentation/view/landingPage/about/AboutCards";
---

<section id="about" class="flex flex-col gap-10">
    <h2 class="text-slate-300 font-semibold text-3xl text-center">A propos</h2>
    <AboutCards client:load/>
</section>