---
import { ContactForm } from "../react/contact/presentation/ContactForm";
---

<section id="contact" class="flex flex-col gap-10 mt-16">
    <h2 class="text-slate-300 font-semibold text-3xl text-center">Contact</h2>
    <ContactForm client:load/>
</section>