---
import Icon from "astro-icon";
import { linksMenu } from "../../localData/localdata"
import { Astronav, MenuItems, MenuIcon,  Dropdown, DropdownItems } from "astro-navbar";
---
  <header class="lg:flex p-5 gap-5 bg-slate-900">
    <Astronav>
      <div class="flex w-full justify-between">
        <a class="block text-teal-600 text-2xl" href="/" >
          👋
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-6 h-10 text-slate-300" />
        </div>
      </div>
      <MenuItems class="hidden w-3/6 lg:flex lg:justify-end">
        <ul class="flex flex-col lg:flex-row lg:gap-5">
          {linksMenu.map(link => (
            <li>
                <a 
                class="text-slate-300 font-semibold hover:text-blue-400" 
                href={link.path}
                >
                {link.name}
                </a>
            </li>
        ))}
        </ul>
      </MenuItems>
    </Astronav>
  </header>
  