---
import { linksMenu } from "../../localData/localdata"
---

<header class="mt-5">
    <nav class="flex justify-between ">
        <h1 class="text-slate-300 font-semibold">theo.dev</h1>
        <div class="flex gap-6 items-center">
            <ul class="flex gap-6">
                {linksMenu.map(link => (
                    <li><a class="text-slate-300 font-semibold" href={link.path}>{link.name}</a></li>
                ))}
            </ul>
            <a class="text-slate-300 font-semibold" href="/login">Connexion</a>
        </div>
    </nav>
</header>