---
//faire card + modal au clique
import ProjectCards from "../react/displayAndCrudAboutAndProjects/presentation/view/landingPage/project/ProjectCards";
---

<section id="projects" >
    <h2 class="text-slate-300 font-semibold">Mes projets</h2>
    <ProjectCards client:load />
</section>