---
import Navbar from "../astroComponents/navbar.astro";
import Footer from "../astroComponents/footer.astro";
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="max-w-screen-2xl mx-auto bg-slate-900">
        <Navbar />
		<slot />
        <Footer />
	</body>
</html>