---
import { Icon } from 'astro-icon';

interface Props {
    text: string;
    icon?: string;
    path: string;
    size?: 'sm'|'md'|'lg';
    style?: 'primary' | 'transparent' | string;
}

const sizes = {
    sm: 'px-4 py-1.5',
	md: 'px-5 py-2.5',
	lg: 'px-10 py-3',
}

const styles: Record<string, string> = {
    primary: 'flex items-center gap-1 bg-gray-900 hover:bg-gray-700 text-white font-semibold py-2 px-4 border border-gray-900 rounded',
    transparent: 'flex items-center gap-1 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded',
}

const { size = 'md', style = "primary", icon, path, text } = Astro.props;
---

<a href={path}>
<button class:list={[
    sizes[size],
    styles[style],
]}>
    <Icon name={icon} class="w-7"/>
    {text}
</button>
</a>